.my-nav {
    height: 80px;
}

.my-big-div {
    height: calc(100vh - 80px);
}

#my-aside {
    width: 200px;
    background-color: green;
}

#my-main {
    width: calc(100% - 200px);
    background-color: blue;
}

#my-col-left {
    background-color: orange;
}

#my-col-right {
    background-color: aqua;
}