.my-nav {
    height: 60px;
}

.my-big-div {
    height: calc(100vh - 60px);
}

#my-aside {
    width: 120px;
    background-color: #051e34;
    background-image: url("/img/sidebar-bg.png");
}

#my-small-div {
    width: calc(100% - 120px);
}

#my-header {
    background-color: #1b72e8;
}

#my-main {
}

#my-col-left {
}

.my-image-avatar {
    width: 20px;
}

#my-col-right {
}